

.gradle/
build/
app/build/
local.properties



.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



*.log
captures/



.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json


.idea/
*.iml
*.ipr
*.iws


*.jks
*.keystore
google-services.json



*.hprof